.faq-container {
  padding: 3rem 1.5rem 2rem 1.5rem;
}

.faq-heading {
  color: var(--black);
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -2px;
  margin-bottom: 1rem;
}

.faq-blocks-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.faq-block {
  width: 50%;
  padding: 1.5rem 1rem;
}

.faq-block__heading {
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.15;
}