footer {
  background-color: var(--black);
}

.footer-main-container {
  padding: 0 1.5rem;
}

.footer-main-content--vertical-padding {
  padding: 6rem 0;
}

.footer-main-content-container {
  display: flex;
  margin: 0 -1rem;
}

.footer-sign-up-container {
  width: 50%;
  text-align: left;
  padding: 0 1rem;
}

.footer-logo {
  margin-bottom: 3rem;
}

.footer-logo__anchor {
  display: inline-block;
}

.footer-logo__image {
  width: 10rem;
  max-width: 100%;
  height: auto;
}