footer {
  background-color: var(--black);
}

.footer-main-container {
  padding: 0 1.5rem;
}

.footer-main-content--vertical-padding {
  padding: 6rem 0;
}

.footer-main-content-container {
  display: flex;
  margin: 0 -1rem;
}

/* Sign Up Area */

.footer-sign-up-container {
  width: 50%;
  text-align: left;
  padding: 0 1rem;
}

.footer-logo {
  margin-bottom: 3rem;
}

.footer-logo__anchor {
  display: inline-block;
}

.footer-logo__image {
  width: 10rem;
  max-width: 100%;
  height: auto;
}

.footer-sign-up__anchor {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(90deg, var(--green), var(--light-green));
  font-size: 1rem;
  padding: 1rem 2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--dark-green);
  text-align: center;
  cursor: pointer;
}

/* Sitemap Area */

.footer-sitemap {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  font-size: 1.125rem;
}

.sitemap-list {
  padding: 0 1rem;
  list-style: none;
}

.sitemap-list__title {
  color: var(--white);
  font-weight: 700;
}

.sitemap-list>li:not(:last-of-type) {
  margin-bottom: 1rem;
}

.sitemap-list-item__anchor {
  color: var(--light-green);
  text-decoration: none;
}

/* Terms Area */

.footer-terms-container {
  padding: 0.75rem 1.5rem;
}

.footer-terms-content-container {
  color: var(--light-gray);
  font-size: 0.75rem;
}

.footer-terms__anchor {
  color: var(--light-gray);
}

@media (max-width: 1024px) {

  .footer-main-content-container {
    flex-wrap: wrap;
  }

  .footer-sign-up-container {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }

  .footer-logo {
    margin-bottom: 1rem;
  }

  .footer-sitemap {
    width: 100%;
  }

  .sitemap-list>li:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 768px) {

  .footer-main-content--vertical-padding {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }


  .footer-sign-up-container {
    margin-bottom: 1.5rem;
  }

  .footer-logo__image {
    width: 8rem;
  }

  .footer-sign-up__anchor {
    display: block;
  }

  .sitemap-list {
    padding: 1rem;
  }

  .footer-terms-container {
    padding: 0.75rem 1.5rem 6rem 1.5rem;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer-sitemap {
    font-size: .875rem;
  }

  .sitemap-list {
    line-height: 1.3;
  }
}

@media (min-width: 320px) {
  .sitemap-list {
    width: 33.3333%;
  }
}

@media (max-width: 319px) {
  .sitemap-list {
    width: 50%;
  }
}