header {
  border: 0 solid #d6dae5;
}

.nav-bar-container {
  padding: 3rem 1.5rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-anchor {
  margin-right: 2.5rem;
}