.intro-container {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem 2.5rem 1.5rem;
  margin-bottom: 2.5rem;
}

.intro-content-container {
  max-width: 600px;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-size: 3.75rem;
  line-height: 1;
  margin-bottom: 1rem;
  letter-spacing: -2px;
}

.intro__paragraph {
  font-size: 1.125rem;
}