.pricing-section-container {
  padding: 0 1.5rem;
}

.pricing-section-block-container {
  display: flex;
  align-items: center;
  margin: 0 -1rem;
}

/* Basics Plan Block  */

.basics-plan-block {
  display: flex;
  padding: 2rem;
  width: 33.3333%;
}

.basics-plan-content-container {
  padding: 1.5rem;
}

h2 {
  font-size: 1.25rem;
  color: var(--green);
  margin-bottom: 1rem;
  line-height: 1.15;
}

.basics-plan__list {
  font-size: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.basics-plan__anchor {
  color: var(--black);
}

/* Business Plan Block */

.business-plan-block {
  display: flex;
  width: 33.3333%;
}

.business-plan-block__anchor {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--white);
  border: 1px solid var(--green);
  border-radius: 8px 8px 0 0;
  text-decoration: none;
  color: var(--gray);
}

.business-plan-content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem 1.5rem 2rem;
  text-align: center;
  overflow: hidden;
  height: 100%;
}

.business-plan-block__banner {
  position: absolute;
  color: var(--white);
  background-color: var(--green);
  padding: 0.25rem 0;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  border: none;
  border-radius: 8px 8px 0 0;
  text-align: center;
}

.business-plan__title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 1;
  color: var(--green);
  padding: 0 1rem;
  margin-top: 1rem;
}

.business-plan__price {
  color: var(--light-gray);
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  line-height: 1;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.business-plan-sign-up-container {
  margin-top: auto;
}

.business-plan__sign-up-button {
  display: inline-block;
  color: var(--gray);
  background-color: var(--light-green);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5rem 2rem 0.75rem 2rem;
  margin-bottom: 2rem;
  transform: scale(1);
  transition: all .05s ease-in-out;
}

.business-plan__list-title {
  color: var(--gray);
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.15;
}