.pricing-section-container {
  padding: 0 1.5rem;
}

.pricing-section-block-container {
  display: flex;
  align-items: center;
  margin: 0 -1rem;
}

/* Basics Plan Block  */

.basics-plan-block {
  display: flex;
  padding: 2rem;
  width: 33.3333%;
}

.basics-plan-content-container {
  padding: 1.5rem;
}

h2 {
  font-size: 1.25rem;
  color: var(--green);
  margin-bottom: 1rem;
  line-height: 1.15;
}

.basics-plan__list {
  font-size: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.basics-plan__anchor {
  color: var(--black);
}

/* Business Plan Block */

.business-plan-block {
  display: flex;
  width: 33.3333%;
}

.business-plan-block__anchor {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--white);
  border: 1px solid var(--green);
  border-radius: 8px 8px 0 0;
  text-decoration: none;
  color: var(--gray);
}