.reviews-container {
  display: flex;
  justify-content: center;
  padding: 6rem 1.5rem;
}

.reviews-content-container {
  text-align: center;
  max-width: 800px;
}

.reviews__image {
  margin: 0 auto;
  max-width: 100%;
}

.reviews__quote {
  text-align: center;
  color: var(--black);
  font-size: 1.5rem;
  padding: 1rem 0;
}

.reviews__quote-author {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--green);
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 1024px) {
  .reviews-container {
    padding: 3rem 1.5rem;
  }
}