.reviews-container {
  display: flex;
  justify-content: center;
  padding: 6rem 1.5rem;
}

.reviews-content-container {
  text-align: center;
  max-width: 800px;
}

.reviews__image {
  margin: 0 auto;
  max-width: 100%;
}

.reviews__quote {
  text-align: center;
  color: var(--black);
  font-size: 1.5rem;
  padding: 0 1rem;
}