.reviews-container {
  display: flex;
  justify-content: center;
  padding: 6rem 1.5rem;
}

.reviews-content-container {
  text-align: center;
}

.reviews__image {
  margin: 0 auto;
  max-width: 100%;
}